<!--<div class="row mt-4">-->
<!--    <div class="col-md-4 offset-md-8">-->
<!--        <h3>Payments</h3>-->

<!--        <div class="input-group mb-3">-->
<!--            <input type="date" id="newPaymentDate" class="form-control" placeholder="Payment Date">-->
<!--            <input type="number" id="newPaymentAmount" class="form-control" placeholder="Amount">-->
<!--            <select class="custom-select" id="newPaymentMethod">-->
<!--                &lt;!&ndash; Options will be populated by JavaScript &ndash;&gt;-->
<!--            </select>-->
<!--            <input type="text" id="newTransactionId" class="form-control" placeholder="Transaction ID">-->
<!--            <div class="input-group-append">-->
<!--                <button class="btn btn-outline-secondary" type="button" onclick="addPayment()">Add Payment</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <table class="table table-striped" id="paymentsTable">-->
<!--            <thead class="thead-dark">-->
<!--                <tr>-->
<!--                    <th>Payment Date</th>-->
<!--                    <th>Amount</th>-->
<!--                    <th>Payment Method</th>-->
<!--                    <th>Transaction ID</th>-->
<!--                </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--                &lt;!&ndash; Dynamic Payment Rows Will Be Added Here &ndash;&gt;-->
<!--            </tbody>-->
<!--        </table>-->

<!--    </div>-->
<!--</div>-->
