<!--<div class="row">-->
<!--    <div class="col-md-4 offset-md-8">-->
<!--        <table class="table">-->
<!--            <tr>-->
<!--                <th>Total Bill:</th>-->
<!--                <td id="totalBill">0.00</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th>Total Discount:</th>-->
<!--                <td id="totalDiscount">0.00</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th>Grand Total:</th>-->
<!--                <td id="grandTotal">0.00</td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->
